@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-lf {

  &__title {
    margin: auto;
    max-width: 950px;
  }

  &__link {
    margin: 25px 0 0;
    padding: 20px 35px;
  }
}