@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

body {
  font-size: 16px;
}

// Sections
.sect {
  padding-top: $sectionVerticalPadding1280;
  padding-bottom: $sectionVerticalPadding1280;
  &-top-text {
    font-size: 22px;
  }
  &-bg {}

  &-title {
    font-size: 48px;
  }

  &-descr {}
}