@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  background: $black;
  &__logo {
    margin: 0 auto 0 0;
  }

  &__logo-img {
    object-fit: contain;
  }

  &__burger {
    width: 25px;
    height: 16px;
    background: center / contain no-repeat;
    &:active {
      transform: scale(.9);
    }
    &.lazyloaded,
    &:not(.lazy) {
      background-image: url('../img/icon-burger.svg');
    }
  }

  &__nav {
    display: none;
  }
}