
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.field {
  font-size: 16px;
  &__inp,
  &__textarea {
    padding: 0 10px 12px 0;
    height: 35px;
  }
  &__textarea {
    height: 50px;
    resize: none;
  }
}

.check {
  max-width: 260px;
  font-size: 14px;
}